In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
t2 = pd.read_csv("../Data/Updated_Tables/table2_new_teamid.csv")

In [3]:
t6 = pd.read_csv("../Data/Updated_Tables/table6_complete.csv")

In [4]:
t2.head() #Primary Key is teamID,matchID,playersID

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,matchID,playersID,score,standing,team,teamID
0,0.0,Hunter,3,0.0,1.772727,21,0.0,0.0,7.0,1.250000,11.0,2.090909,16.0,842375,2305843009260664823,15.0,0.0,17.0,2305843009260664823230584300926100467723058430...
1,0.0,Titan,4,0.0,1.000000,30,0.0,1.0,10.0,0.600000,14.0,1.357143,9.0,842375,2305843009261004677,9.0,0.0,17.0,2305843009260664823230584300926100467723058430...
2,0.0,Hunter,3,1.0,6.200000,24,2.0,3.0,6.0,4.833333,5.0,6.800000,28.0,842375,2305843009261834828,29.0,0.0,17.0,2305843009260664823230584300926100467723058430...
3,0.0,Hunter,7,1.0,0.892857,71,0.0,3.0,5.0,0.933333,14.0,1.071429,10.0,842375,2305843009262284141,14.0,0.0,17.0,2305843009260664823230584300926100467723058430...
4,0.0,Hunter,3,1.0,0.911765,27,0.0,2.0,7.0,0.388889,17.0,1.117647,12.0,842375,2305843009260614768,7.0,1.0,16.0,2305843009260614768230584300926131455523058430...

In [15]:
t6.head() #Timestamp for every possible match

         Date     MatchID      Time
0  2017-09-23   465852274  04:53:37
1  2017-09-13   241332275  03:34:06
2  2017-09-13   240819742  02:50:22
3  2017-11-22  1064084769  02:17:28
4  2017-10-28   883454716  14:45:51

In [5]:
merged = t2.merge(t6, left_on = "matchID", right_on = "MatchID") #Add timestamps to matches.

In [6]:
merged.head()

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,...,kills,matchID,playersID,score,standing,team,teamID,Date,MatchID,Time
0,0.0,Hunter,3,0.0,1.772727,21,0.0,0.0,7.0,1.250000,...,16.0,842375,2305843009260664823,15.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22
1,0.0,Titan,4,0.0,1.000000,30,0.0,1.0,10.0,0.600000,...,9.0,842375,2305843009261004677,9.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22
2,0.0,Hunter,3,1.0,6.200000,24,2.0,3.0,6.0,4.833333,...,28.0,842375,2305843009261834828,29.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22
3,0.0,Hunter,7,1.0,0.892857,71,0.0,3.0,5.0,0.933333,...,10.0,842375,2305843009262284141,14.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22
4,0.0,Hunter,3,1.0,0.911765,27,0.0,2.0,7.0,0.388889,...,12.0,842375,2305843009260614768,7.0,1.0,16.0,2305843009260614768230584300926131455523058430...,2017-09-05,842375,21:01:22

In [7]:
merged = merged.sort_values(by=["Date", "Time"], ascending=False) #Sorting by time

In [14]:
merged.head(10)

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,...,kills,matchID,playersID,score,standing,team,teamID,Date,MatchID,Time
2118264,0.0,Titan,25,0.0,1.227273,333,0.0,2.0,5.0,0.333333,...,11.0,1531252818,2305843009260831111,4.0,0.0,16.0,2305843009260831111230584300926536908523058430...,2018-03-13,1531252818,18:37:07
2118265,0.0,Hunter,25,0.0,0.961538,333,3.0,1.0,3.0,0.285714,...,11.0,1531252818,2305843009265369085,4.0,0.0,16.0,2305843009260831111230584300926536908523058430...,2018-03-13,1531252818,18:37:07
2118266,0.0,Warlock,25,0.0,2.444444,335,1.0,2.0,6.0,0.400000,...,19.0,1531252818,2305843009310154017,4.0,0.0,16.0,2305843009260831111230584300926536908523058430...,2018-03-13,1531252818,18:37:07
2118267,0.0,Titan,25,0.0,1.300000,334,1.0,1.0,8.0,0.363636,...,9.0,1531252818,2305843009327104199,4.0,0.0,16.0,2305843009260831111230584300926536908523058430...,2018-03-13,1531252818,18:37:07
2118268,0.0,Hunter,25,0.0,1.272727,335,2.0,0.0,2.0,0.166667,...,13.0,1531252818,2305843009260402573,2.0,1.0,17.0,2305843009260402573230584300926900596323058430...,2018-03-13,1531252818,18:37:07
2118269,0.0,Titan,25,0.0,1.181818,318,5.0,1.0,4.0,0.166667,...,11.0,1531252818,2305843009269005963,2.0,1.0,17.0,2305843009260402573230584300926900596323058430...,2018-03-13,1531252818,18:37:07
2118270,0.0,Warlock,25,0.0,1.153846,321,1.0,1.0,4.0,0.142857,...,13.0,1531252818,2305843009289828175,2.0,1.0,17.0,2305843009260402573230584300926900596323058430...,2018-03-13,1531252818,18:37:07
2118271,0.0,Hunter,25,0.0,0.566667,311,3.0,0.0,5.0,0.125000,...,6.0,1531252818,2305843009319710979,2.0,1.0,17.0,2305843009260402573230584300926900596323058430...,2018-03-13,1531252818,18:37:07
2118256,0.0,Hunter,25,0.0,1.000000,335,1.0,0.0,2.0,0.333333,...,1.0,1531230307,2305843009290708112,1.0,0.0,17.0,2305843009290708112230584300932059448823058430...,2018-03-13,1531230307,18:26:28
2118257,0.0,Hunter,25,0.0,4.500000,334,0.0,0.0,1.0,1.000000,...,4.0,1531230307,2305843009320594488,1.0,0.0,17.0,2305843009290708112230584300932059448823058430...,2018-03-13,1531230307,18:26:28

In [8]:
temp = merged

### Converting from Player-Match key to Team-Match by dropping duplicates

In [10]:
temp_uniq = temp.drop_duplicates(subset = ["MatchID", "teamID"])

In [12]:
temp_uniq = temp_uniq.sort_values(by = ["Date", "Time"]) #Sorting according to time again

In [13]:
temp_uniq.head()

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,...,kills,matchID,playersID,score,standing,team,teamID,Date,MatchID,Time
0,0.0,Hunter,3,0.0,1.772727,21,0.0,0.0,7.0,1.250000,...,16.0,842375,2305843009260664823,15.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22
4,0.0,Hunter,3,1.0,0.911765,27,0.0,2.0,7.0,0.388889,...,12.0,842375,2305843009260614768,7.0,1.0,16.0,2305843009260614768230584300926131455523058430...,2017-09-05,842375,21:01:22
8,0.0,Warlock,2,0.0,0.500000,23,0.0,0.0,3.0,0.000000,...,0.0,3143156,2305843009260677359,0.0,0.0,16.0,2305843009260677359230584300926101719923058430...,2017-09-06,3143156,02:26:37
12,0.0,Warlock,7,0.0,0.600000,74,0.0,0.0,2.0,0.272727,...,5.0,3143156,2305843009260297277,3.0,1.0,17.0,2305843009260297277230584300926065618823058430...,2017-09-06,3143156,02:26:37
16,0.0,Titan,12,1.0,1.833333,330,1.0,1.0,7.0,2.000000,...,13.0,3167501,2305843009260474851,20.0,0.0,16.0,2305843009260474851230584300926052725223058430...,2017-09-06,3167501,02:28:26

### Adding Match Number, sorted according to time

In [14]:
temp_uniq["MatchNum"] = temp_uniq.groupby("teamID").cumcount()+1

In [15]:
temp_uniq.head()

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,...,matchID,playersID,score,standing,team,teamID,Date,MatchID,Time,MatchNum
0,0.0,Hunter,3,0.0,1.772727,21,0.0,0.0,7.0,1.250000,...,842375,2305843009260664823,15.0,0.0,17.0,2305843009260664823230584300926100467723058430...,2017-09-05,842375,21:01:22,1
4,0.0,Hunter,3,1.0,0.911765,27,0.0,2.0,7.0,0.388889,...,842375,2305843009260614768,7.0,1.0,16.0,2305843009260614768230584300926131455523058430...,2017-09-05,842375,21:01:22,1
8,0.0,Warlock,2,0.0,0.500000,23,0.0,0.0,3.0,0.000000,...,3143156,2305843009260677359,0.0,0.0,16.0,2305843009260677359230584300926101719923058430...,2017-09-06,3143156,02:26:37,1
12,0.0,Warlock,7,0.0,0.600000,74,0.0,0.0,2.0,0.272727,...,3143156,2305843009260297277,3.0,1.0,17.0,2305843009260297277230584300926065618823058430...,2017-09-06,3143156,02:26:37,1
16,0.0,Titan,12,1.0,1.833333,330,1.0,1.0,7.0,2.000000,...,3167501,2305843009260474851,20.0,0.0,16.0,2305843009260474851230584300926052725223058430...,2017-09-06,3167501,02:28:26,1

## SET NUMBER OF MATCHES USED TO CALCULATE WIN RATE BELOW

In [19]:
MatchWindow = 15

### Filtering to only consider relevant matches

In [16]:
temp_uniq_filtered = temp_uniq[temp_uniq.MatchNum < MatchWindow + 1]

### Calculating Win Ratio as mean of Wins column

In [18]:
temp_uniq_filtered["Wins"] = 1 - temp_uniq_filtered["standing"]

/opt/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
FinalDF = temp_uniq_filtered[['teamID', 'Wins']]

In [24]:
FinalTable = FinalDF.groupby("teamID").mean().reset_index()

In [28]:
FinalTable.describe()

                Wins
count  491737.000000
mean        0.498680
std         0.496801
min         0.000000
25%         0.000000
50%         0.500000
75%         1.000000
max         1.000000

In [29]:
FinalTable.to_csv("../Data/Updated_Tables/WinRatio_upto15.csv")