In [2]:
import pandas as pd
import numpy as np

In [7]:
table2= pd.read_csv("table2_filter_8_match.csv")
table4= pd.read_csv("table4.csv")
table5= pd.read_csv("table5_total.csv")
table4=table4[["reference_id","weapon_name",'itemTypeDisplayName',"itemTypeAndTierDisplayName","tierTypeName"]]
table5=table5[['matchID','playersID', 'referenceID', 'uniqueWeaponKills',
       'uniqueWeaponKillsPrecisionKills', 'uniqueWeaponPrecisionKills']]

In [8]:
table2.head()

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,matchID,playersID,score,standing,team,teamID
0,0.0,Titan,20,1.0,0.535714,260,2.0,0.0,3.0,0.600000,14.0,0.642857,6.0,193231470,2305843009261212408,9.0,0.0,16.0,2305843009261212408230584300926226821223058430...
1,0.0,Warlock,20,1.0,7.500000,271,0.0,1.0,7.0,6.500000,3.0,8.666667,19.0,193231470,2305843009262268212,26.0,0.0,16.0,2305843009261212408230584300926226821223058430...
2,0.0,Hunter,20,2.0,8.333333,271,0.0,3.0,8.0,7.250000,3.0,9.666667,21.0,193231470,2305843009262964993,29.0,0.0,16.0,2305843009261212408230584300926226821223058430...
3,0.0,Titan,20,1.0,1.200000,273,0.0,1.0,6.0,1.363636,10.0,1.500000,9.0,193231470,2305843009265668325,15.0,0.0,16.0,2305843009261212408230584300926226821223058430...
4,0.0,Titan,20,0.0,0.750000,0,0.0,0.0,4.0,0.384615,12.0,0.916667,7.0,193547350,2305843009261212408,5.0,0.0,16.0,2305843009261212408230584300926226821223058430...

In [9]:
table4.head()

,reference_id,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName
0,423789,Mythos Hack 4.1,Gauntlets,Rare Gauntlets,Rare
1,4425887,The Time-Worn Spire,Pulse Rifle,Legendary Pulse Rifle,Legendary
2,7242309,Future War Cult Arsenal,Armor Set,Legendary Armor Set,Legendary
3,7242310,Future War Cult Arsenal,Armor Set,Legendary Armor Set,Legendary
4,10307688,Wildwood Plate,Chest Armor,Legendary Chest Armor,Legendary

In [10]:
table5.head()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills
0,686386979,2305843009261201221,1960218487,3.0,0.000000,0.0
1,686386979,2305843009261201221,1909527966,2.0,0.000000,0.0
2,686386979,2305843009267664547,3628991659,11.0,0.181818,2.0
3,686386979,2305843009269111408,3628991659,9.0,0.666667,6.0
4,686386979,2305843009269111408,1911843791,2.0,0.000000,0.0

In [11]:
#Aggregate the table5 by playersID +ReferenceID
agg_table5=table5.groupby(['playersID','referenceID']).agg({'uniqueWeaponKills':"mean","uniqueWeaponKillsPrecisionKills":"mean","uniqueWeaponPrecisionKills":"mean"}).reset_index().rename(columns={'uniqueWeaponKills': 'avg_uniqueWeaponKills', 'uniqueWeaponKillsPrecisionKills': 'avg_uniqueWeaponKillsPrecisionKills',"uniqueWeaponPrecisionKills":"avg_uniqueWeaponPrecisionKills"})
agg_table2=table2.groupby(["playersID","teamID"]).agg({'Ability':"mean","Character_Level":"mean",'Grenade':"mean","KDA":"mean",'Lightlevel':"mean","Melee":"mean",'Super':"mean","assists":"mean",'avg_score_per_life':"mean","deaths":"mean",'efficiency':"mean","kills":"mean","score":"mean"}).reset_index()

In [12]:
agg_table5.head()

,playersID,referenceID,avg_uniqueWeaponKills,avg_uniqueWeaponKillsPrecisionKills,avg_uniqueWeaponPrecisionKills
0,2305843009260294056,1911843791,3.5,0.000000,0.0
1,2305843009260294056,3628991659,8.0,0.466667,4.0
2,2305843009260294077,1879212552,2.0,0.500000,1.0
3,2305843009260294077,2094938673,4.0,0.250000,1.0
4,2305843009260294244,1331482397,3.0,0.333333,1.0

In [13]:
agg_table2.head()

,playersID,teamID,Ability,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,score
0,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.374140,9.222222,2.202215,9.222222,2.333333
1,2305843009260301047,2305843009260301047230584300926407495723058430...,0.0,20.0,0.300000,0.876166,291.400000,0.700000,0.700000,3.100000,0.341880,11.400000,1.014219,8.200000,3.200000
2,2305843009260304802,2305843009260304802230584300926112491023058430...,0.0,25.0,0.250000,7.342560,314.375000,0.500000,1.125000,6.500000,1.853720,4.625000,8.582341,16.500000,7.000000
3,2305843009260306096,2305843009260306096230584300926893816923058430...,0.0,20.0,0.750000,5.377976,303.000000,0.500000,0.750000,1.875000,1.412450,4.375000,5.841518,9.500000,4.375000
4,2305843009260307017,2305843009260307017230584300926409646823058430...,0.0,25.0,0.642857,2.997785,334.000000,0.214286,0.000000,6.500000,0.580972,7.571429,3.941951,9.428571,3.285714

In [14]:
#Merge Table2 and 5, primary key = playerID + referenceID
table2_5=pd.merge(agg_table2,agg_table5,how="inner",left_on="playersID",right_on="playersID")
table2_5.head()

,playersID,teamID,Ability,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,score,referenceID,avg_uniqueWeaponKills,avg_uniqueWeaponKillsPrecisionKills,avg_uniqueWeaponPrecisionKills
0,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.37414,9.222222,2.202215,9.222222,2.333333,1187594590,17.600000,0.713593,12.0
1,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.37414,9.222222,2.202215,9.222222,2.333333,1331482397,3.666667,0.533333,2.0
2,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.37414,9.222222,2.202215,9.222222,2.333333,1508896098,1.800000,0.000000,0.0
3,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.37414,9.222222,2.202215,9.222222,2.333333,1909527966,3.000000,0.261667,1.0
4,2305843009260294880,2305843009260294880230584300926065511223058430...,0.0,20.0,0.888889,1.868613,299.333333,0.111111,1.777778,4.444444,0.37414,9.222222,2.202215,9.222222,2.333333,3748713779,4.500000,0.000000,0.0

In [25]:
#Merge Table2_5 with table 4, primary key = playerID + referenceID
table2_4_5=pd.merge(table2_5,table4,how="left",left_on="referenceID",right_on="reference_id")
table2_4_5=table2_4_5.drop(["referenceID","reference_id","weapon_name","itemTypeAndTierDisplayName","tierTypeName"],axis=1)
table_player_weaponclass=table2_4_5.groupby(['playersID',"teamID",'itemTypeDisplayName']).agg({'avg_uniqueWeaponKills':"mean","avg_uniqueWeaponKillsPrecisionKills":"mean","avg_uniqueWeaponPrecisionKills":"mean"}).reset_index()
#consider use only avg_uniqueWeaponKills as weapon performance matric
table_player_weaponclass=table_player_weaponclass.drop(["avg_uniqueWeaponKillsPrecisionKills","avg_uniqueWeaponPrecisionKills"],axis=1)

In [26]:
table_player_weaponclass.head()

,playersID,teamID,itemTypeDisplayName,avg_uniqueWeaponKills
0,2305843009260294880,2305843009260294880230584300926065511223058430...,Auto Rifle,39.000000
1,2305843009260294880,2305843009260294880230584300926065511223058430...,Pulse Rifle,17.600000
2,2305843009260294880,2305843009260294880230584300926065511223058430...,Rocket Launcher,3.150000
3,2305843009260294880,2305843009260294880230584300926065511223058430...,Scout Rifle,3.666667
4,2305843009260301047,2305843009260301047230584300926407495723058430...,Auto Rifle,3.800000

In [31]:
table_player_weaponclass_pivot=table_player_weaponclass.pivot(columns='itemTypeDisplayName', values='avg_uniqueWeaponKills')
table_player_weaponclass_pivot["playersID"]=table_player_weaponclass["playersID"]
table_player_weaponclass_pivot["teamID"]=table_player_weaponclass["teamID"]

In [34]:
table_player_weaponclass_pivot=table_player_weaponclass_pivot.fillna(0)

In [35]:
#Aggregate weapon class table by players and team
unique_table_player_weaponclass_pivot=table_player_weaponclass_pivot.groupby(["playersID","teamID"]).agg({'Auto Rifle': "sum", 'Fusion Rifle': "sum", 'Grenade Launcher': "sum", 'Hand Cannon': "sum",
       'Linear Fusion Rifle': "sum", 'Pulse Rifle': "sum", 'Rocket Launcher': "sum", 'Scout Rifle': "sum",
       'Shotgun': "sum", 'Sidearm': "sum", 'Sniper Rifle': "sum", 'Submachine Gun': "sum", 'Sword': "sum",
       'Trace Rifle': "sum"}).reset_index()

In [37]:
#Aggregate table2_4_5 in to unique player level and team level
table2_4_5_clean=table2_4_5[['playersID',"teamID",'Ability', 'Character_Level', 'Grenade', 'KDA',
       'Lightlevel', 'Melee', 'Super', 'assists', 'avg_score_per_life',
       'deaths', 'efficiency', 'kills', 'score']]
unique_table2_4_5_clean=table2_4_5_clean.groupby(["playersID","teamID"]).agg({'Ability':"mean", 'Character_Level':"mean", 'Grenade':"mean", 'KDA':"mean",
       'Lightlevel':"mean", 'Melee':"mean", 'Super':"mean", 'assists':"mean", 'avg_score_per_life':"mean",
       'deaths':"mean", 'efficiency':"mean", 'kills':"mean", 'score':"mean"}).reset_index()

In [39]:
final_cluster=pd.merge(unique_table2_4_5_clean,unique_table_player_weaponclass_pivot, how= "inner", on=["playersID","teamID"])

In [42]:
final_cluster_clean=final_cluster[pd.notnull(final_cluster["avg_score_per_life"])] #remove missing value

In [45]:
final_cluster_clean["weapon_kills"]=final_cluster_clean['Auto Rifle']+final_cluster_clean['Fusion Rifle']+final_cluster_clean['Grenade Launcher']+final_cluster_clean['Hand Cannon']+final_cluster_clean['Linear Fusion Rifle']+final_cluster_clean['Pulse Rifle']+final_cluster_clean['Rocket Launcher']+final_cluster_clean['Scout Rifle']+final_cluster_clean['Shotgun']+final_cluster_clean['Sidearm']+final_cluster_clean['Sniper Rifle']+final_cluster_clean['Submachine Gun']+final_cluster_clean['Sword']+final_cluster_clean['Trace Rifle']
final_cluster_clean['Pro Auto Rifle']=final_cluster_clean['Auto Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Fusion Rifle']=final_cluster_clean['Fusion Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Grenade Launcher']=final_cluster_clean['Grenade Launcher']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Hand Cannon']=final_cluster_clean['Hand Cannon']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Linear Fusion Rifle']=final_cluster_clean['Linear Fusion Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Pulse Rifle']=final_cluster_clean['Pulse Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Rocket Launcher']=final_cluster_clean['Rocket Launcher']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Scout Rifle']=final_cluster_clean['Scout Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Shotgun']=final_cluster_clean['Shotgun']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Sidearm']=final_cluster_clean['Sidearm']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Sniper Rifle']=final_cluster_clean['Sniper Rifle']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Submachine Gun']=final_cluster_clean['Submachine Gun']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Sword']=final_cluster_clean['Sword']/final_cluster_clean['weapon_kills']
final_cluster_clean['Pro Trace Rifle']=final_cluster_clean['Trace Rifle']/final_cluster_clean['weapon_kills']

In [47]:
final_cluster_clean.to_csv("final_cluster_clean_5_10.csv",index=False)